body {
    background-image: url('/images/wp.jpg') !important;
   /*background-color:lightslategrey !important;*/
    height: 100%;
    /* Center and scale the image nicely */
    
    background-repeat: no-repeat;
    background-size: cover;
}
