@model IEnumerable<Lilabali.Models.Team>

@{
    ViewBag.Title = "Teams";
    Layout = "~/Views/Shared/_MyLayout.cshtml";
}



<div class="row">
    <div class="col-sm-3"><b>Teams</b></div>
    <div class="col-sm-3" style="text-align:left;"> <a class="btn btn-sm btn-info" data-toggle="modal" data-target="#TeamModal">Add Team</a></div>

    <div class="col-sm-6" style="text-align:right;">
        
    </div>
</div>
<hr />
<table class="table table-sm table-responsive-sm table-striped filter" id="dataTable">
    <thead>
        <tr class="bg-dark text-light" style="text-align:center;">
            <td><strong>ID</strong></td>
            <td><strong>Team</strong></td>
            <td><strong>Status</strong></td>
        </tr>
    </thead>
    @if (Model != null)
    {
        <tbody>
            @foreach (var item in Model)
            {
                <tr class="mytbl" style="text-align:center;">
                    <td>@item.TID</td>
                    <td>@item.TeamName</td>
                    <td>
                        @if (item.IsActive > 0)
                        {
                            <span>Active</span>
                        }
                        else
                        {<span>Inactive</span>}
                    </td>
                </tr>

            }
        </tbody>

    }
    else
    {
        <tbody>
            <tr>
                <td colspan="3" style="text-align:center">No Team Found</td>
            </tr>

        </tbody>

    }
</table>
@using (Html.BeginForm("AddTeam", "Lilabali", FormMethod.Post))

{


    <div class="modal fade" id="TeamModal" tabindex="-1" aria-labelledby="TeamModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header bg-dark text-light">
                    <h5 class="modal-title" id="exampleModalLabel">Add New Team</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-4">
                            <label>Team Name</label>
                        </div>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" placeholder="Enter Team Name" name="Tname" required />
                        </div>
                    </div>



                    <input type="hidden" name="IsActive" value="1" />



                </div>
                <div class="modal-footer">
                    @*<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>*@
                    <button type="submit" class="btn btn-sm btn-outline-dark">Save</button>
                </div>
            </div>
        </div>
    </div>
}
@section scripts{
    <script src="https://cdn.jsdelivr.net/npm/toastr@2.1.4/toastr.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/toastr@2.1.4/build/toastr.min.css" rel="stylesheet">
    <script src="~/Scripts/dataTable.js"></script>
    <script>
        $(document).ready(function () {
            $("#myInput").on("keyup", function () {
                var value = $(this).val().toLowerCase();
                $(".mytbl").filter(function () {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });

            $('#dataTable').DataTable(
                {
                    dom: "<'row'<'col-md-4'l><'col-md-4'B><'col-md-4 searchStyle'f>>" + "<'row'<'col-md-12'tr><'col-md-6'i><'col-md-6'p>>",
                    buttons: [
                        {
                            "extend": 'pdf', "text": '<i class="far fa-file-pdf" style="font-size: 25px; color: red"></i>', "className": 'btn-sm btn-default', "titleAttr": 'PDF',

                            exportOptions: {
                                columns: "thead th:not(.noExport)"
                            }
                        },
                        {
                            "extend": 'excelHtml5', "text": ' <i class="far fa-file-excel" style="font-size: 25px; color: green"></i> ', "className": ' btn-sm btn-default', "titleAttr": 'Excel',
                            exportOptions: {
                                columns: "thead th:not(.noExport)"
                            }
                        },
                        {
                            "extend": 'csvHtml5', "text": '<i class="fa fa-file-csv" style="font-size: 25px; color: #72BF44"></i> ', "className": ' btn-sm btn-default', "titleAttr": 'CSV',
                            exportOptions: {
                                columns: "thead th:not(.noExport)"
                            }
                        },
                        {
                            "extend": 'copyHtml5', "text": '<i class="far fa-copy" style="font-size: 25px; color: grey"></i> ', "className": ' btn-sm btn-default', "titleAttr": 'Copy',
                            exportOptions: {
                                columns: "thead th:not(.noExport)"
                            }
                        }
                    ],
                    language: {
                        "info": "Showing _START_ to _END_ of _TOTAL_ Record(s)",
                        "emptyTable": "No data available",
                        "infoEmpty": "Showing 0 to 0 of 0 Record(s)",
                        "lengthMenu": "Show _MENU_ Record(s)"
                    }
                }
            );
            // Toast Notification
 var message = '@TempData["message"]';
            var messageType = '@TempData["messageType"]';
            if (message) {
                toastr.options = {
                    "closeButton": false,
                    "debug": false,
                    "newestOnTop": false,
                    "progressBar": false,
                    "positionClass": "toast-bottom-right",
                    "preventDuplicates": false,
                    "onclick": null,
                    "showDuration": "300",
                    "hideDuration": "1000",
                    "timeOut": "5000",
                    "extendedTimeOut": "1000",
                    "showEasing": "swing",
                    "hideEasing": "linear",
                    "showMethod": "fadeIn",
                    "hideMethod": "fadeOut"
                };

                if (messageType === "success") {
                    toastr["success"](message);
                } else if (messageType === "error") {
                    toastr["error"](message);
                }
            }
        });
    </script>

}